.header {
    display: flex;
    flex-direction: column;
    height: 50px;
    background-color: #355990;
}

.header-top {
    height: 15%;
    background-color: #1e3b68;
}

.header-main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-main-text {
    font-size: x-large;
    color: white;
    padding-left: 15%;
}